<div class="contic">


  <!--Left Column-->
  <div class="leftbarAd">
    <h1>Admin page</h1>
    <div class="greating">
      <p>Hello Bruce Almighty, you have <a href="#">1000000</a> prayers</p>
    </div>
    <i><a href="home">View the site</a>  |  <a href="#">Log Out</a></i>

    <div class="LeftNav">

      <ul>
        <li><a href="#">Dashboard</a></li>
        <li>
          <a href="#">Articles</a>

          <ul>
            <li><a href="#">New article</a></li>
            <li><a href="#">Manage articles</a></li>
            <li><a href="#">Manage Comments</a></li>
            <li><a href="#">Manage Categories</a></li>
          </ul>
        </li>

        <li>
          <a href="#">Pages</a>
          <ul>
            <li><a href="#">Create New Page</a></li>
            <li><a href="#">Manage Pages</a></li>
          </ul>
        </li>

        <li>
          <a href="#">Image Galery</a>
          <ul>
            <li><a href="#">Upload images</a></li>
            <li><a href="#">Manage Galleries</a></li>
            <li><a href="#">Manage Albums</a></li>
            <li><a href="#">Gallery Settings</a></li>
          </ul>
        </li>

        <li>
          <a href="#">Event Calendar</a>
          <ul>
            <li><a href="#">Calendar Overview</a></li>
            <li><a href="#">Add a new Event</a></li>
            <li><a href="#">Calendar Settings</a></li>
          </ul>
        </li>

        <li>
          <a href="#">Settings</a>
          <ul>
            <li><a href="#">General</a></li>
            <li><a href="#">Design</a></li>
            <li><a href="#">Your Profile</a></li>
            <li><a href="#">Users and Permissions</a></li>
          </ul>
        </li>

      </ul>

    </div>

  </div>
  <!--End of Left Column-->

  <!--Content Side-->
  <div class="contentpart">
    <router-outlet></router-outlet>
  </div>


</div>
