<div class="page1-background">
  <div class="page1-container">
    <div class="navigation-header">
      <a href="#" id="logo"><img src="../../../assets/img/logo.png"/></a>
      <div class="social">
        <a href="#" title="facebook"><img src="../../../assets/img/facebook.png" width="20" height="20" alt="facebook"></a>
        <a href="#"><img src="../../../assets/img/twitter.png" width="20" height="20" alt="twitter"></a>
        <a href="#" ><img src="../../../assets/img/linkedin.png" width="20" height="20" alt="linkedin"></a>
        <a href="#" ><img src="../../../assets/img/vcard.png" width="20" height="20"></a>
        <a href="#" ><img src="../../../assets/img/picasa.png" width="20" height="20"></a>
      </div>
      <ul id="nav" class="main-nav">
        <li><a href="#">Home</a></li>
        <li><a href="#">Subpage1</a></li>
        <li><a href="#">Dummy 1</a></li>
        <li><a href="#">Dummy 2</a></li>
        <li><a href="#">Dummy 3</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
    <div class="big-text">
      <div class="big-text-content-block">
        <h2>Your Intro</h2>
        <p>Space for a description, an introduction of yourself or your company or a smart slogan - be creative and use some keywords
          for search engines! By the way: On the right side you see FlexSlider - use you keyboard arrows or the mousewheel to make it slide!
        </p>

      </div>

      <div class="big-text-slider-block">
        <div class="slider">
          <ul class="slides">

            <li>
              <a href="#"><img src="../../../assets/img/img1.jpg" alt="demo-image" />
                <p class="slide-text">This is a describing caption for your image</p>
              </a>
            </li>

            <li>
              <a href="#"><img src="../../../assets/img/img2.jpg" alt="demo-image" />
                <p class="slide-text">Of course you can also remove it, if you want</p>
              </a>
            </li>

            <li>
              <a href="#"><img src="../../../assets/img/img3.jpg" alt="demo-image" /></a>
            </li>

            <li>
              <a href="#"><img src="../../../assets/img/img4.jpg" alt="demo-image" />
                <p class="slide-text">This is another caption for your image</p>
              </a>
            </li>

            <li>
              <a href="#"><img src="../../../assets/img/img5.jpg" alt="demo-image" />
                <p class="slide-text">Write whatever you want here!</p>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="two-blocks-with-buttons">
      <div class="block-enjoy">
        <h2>Enjoy it, it´s free!</h2>
        <p>
          ResponseEve is responsive, fresh, modern, bold and completly free.
          You may use it for both private and commercial projects. If you like it and if you want to show
          some respect for my work, consider not to remove the link in the footer - though it is not required.
          Anyway, do me a favour and spread the word!</p>

        <p>Please understand that - due to the fact, that this is free - no service is provided.
          But I am available for freelance jobs! ;-)</p>

        <a class="button">Download me!</a>
      </div>
      <div class="second-block">
        <h2>This is a quote</h2>
        <p class="quote">"You can use it with or without green or grey box. The classes are:
          quote, green, grey. The boxes are meant to attract attention - don´t use them extensively."
          <span>SiGa (sg-layout.com)</span></p>
      </div>
    </div>

    <div class="hr"></div>

    <div class="five-blocks-with-images">
      <div class="one-of-five">
        <h4>Inuit framework</h4>
        <p>This template is responsive! It is based on the Inuit-framework.
          You can extend the framework with igloos - have a look at the website!</p>
        <button>Visit the website!</button>
      </div>
      <div class="one-of-five">
        <h4>Inbuilt grid</h4>
        <p>The grid used here has a max-width of 1120 px for larger screens and 16 columns
          with no end or last in use to stop the flow - self-clearing!</p>
      </div>
      <div class="one-of-five">
        <h4>Your own grid</h4>
        <p>TYou can produce your own grid with the width and gutter you like with the
          Inuit Grid-builder and replace the grid that is used here in no time!</p>
      </div>
      <div class="one-of-five">
        <h4>FlexSlider</h4>
        <p>The slider is the great responsive Flexslider, which offers many features. Visit the website to find out more about the features!</p>
      </div>
      <div class="one-of-five">
        <h4>Nice social icons</h4>
        <p>The social icons were made by Alex Peattie, you can download the set on his website and even use them as a webfont with @font-face!</p>
      </div>
    </div>

    <div class="hr"></div>

    <div class="blocks-square">
      <div class="blocks-square-item">
        <img src="../../../assets/img/small-img3.jpg">
       <div class="block-square-item-content">
         <h5>Font 'Oswald'</h5>
         <p>Oswald was created by <a href="#" title="Vernon Adams on Google Plus">Vernon Adams</a> (who made other nice free fonts, too),
           it´s embedded with @font-face. You can download it <a href="http://www.fonts2u.com/oswald.schriftart" title="Download Oswald font">here,</a>
           for example (SIL-license).</p>
       </div>
      </div>
      <div class="blocks-square-item">
        <img src="../../../assets/img/small-img3.jpg">
        <div class="block-square-item-content">
          <h5>Font 'Oswald'</h5>
          <p>Oswald was created by <a href="#" title="Vernon Adams on Google Plus">Vernon Adams</a> (who made other nice free fonts, too),
            it´s embedded with @font-face. You can download it <a href="http://www.fonts2u.com/oswald.schriftart" title="Download Oswald font">here,</a>
            for example (SIL-license).</p>
        </div>
      </div>
      <div class="blocks-square-item">
        <img src="../../../assets/img/small-img3.jpg">
        <div class="block-square-item-content">
          <h5>Font 'Oswald'</h5>
          <p>Oswald was created by <a href="#" title="Vernon Adams on Google Plus">Vernon Adams</a> (who made other nice free fonts, too),
            it´s embedded with @font-face. You can download it <a href="http://www.fonts2u.com/oswald.schriftart" title="Download Oswald font">here,</a>
            for example (SIL-license).</p>
        </div>
      </div>
      <div class="blocks-square-item">
        <img src="../../../assets/img/small-img3.jpg">
        <div class="block-square-item-content">
          <h5>Font 'Oswald'</h5>
          <p>Oswald was created by <a href="#" title="Vernon Adams on Google Plus">Vernon Adams</a> (who made other nice free fonts, too),
            it´s embedded with @font-face. You can download it <a href="http://www.fonts2u.com/oswald.schriftart" title="Download Oswald font">here,</a>
            for example (SIL-license).</p>
        </div>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <footer>
    <div class="footer">
      <p>© Eve 2012 by SiGa</p>
      <p>Free responsive template v 1.0</p>
      <p>Contact me here</p>
    </div>
  </footer>
</div>
