* {
  margin: 0;
  padding: 0;
  outline: 0;
}
.active{
  visibility: visible !important;
  font-weight: bold !important;
  display: unset !important;
}
a {
  color: #067aa7;
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}
a img {
  border: 0;
}
a.view {
  background: url(../../../assets/images-page3/bullet.png) no-repeat 0 10px;
  padding-left: 8px; font-size: 10px; float: right;
}
.page3-container{
  height: 1260px;
}
.notext {
  font-size: 0; line-height: 0; text-indent: -4000px;
}
.left, .alignleft {
  float: left;
  display: inline;
}
.right, .alignright {
  float: right;
  display: inline;
}

.centered  {
  width: 980px; margin: 0 auto;
  padding: 1px;
}
.centered-text{
  text-align: center;
  padding: 20px;
}
.centered-text p{
  padding-bottom: 20px;
}
/**********************************************************************************************************************/
.top-nav.desktop ul {
  display: block !important;
}
.top-nav .centered-header {
  position: relative;
}
.top-nav {
  background: #b6dde7; height: 59px;
}
.top-nav ul {
  list-style: none outside;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 58px;
  font-weight: 700;
}
.top-nav ul li {
  float: left;
  padding: 0;
  border-right: 1px solid #dbeef3;
}
.top-nav ul li.active  {
  border-right: 0;
}
.top-nav ul li a {
  color: #239cc5;
  float: left;
  padding: 0 34px;
  text-shadow: rgba(255,255,255,0.8)
}
.top-nav ul li span {
  float: left;
}
.top-nav ul li a:hover, .top-nav ul li.active a {
  color: #00719d;
  text-decoration: none;
  background: #c8e6ed;
}
.top-nav ul li.active a {
  background: #c8e6ed url(../../../assets/images-page3/active-nav-border.png) no-repeat right 0;
}
.top-nav ul li.active span {
  background: url(../../../assets/images-page3/active-nav-border.png) no-repeat 0;
  padding-left: 2px;
}
.top-nav a.nav-btn {
  display: none;
}

.header-top {
  background: url(../../../assets/images-page3/header-t.png) repeat-x 0 0;
  width: 100%;
  height: 72px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header-bottom {
  background: url(../../../assets/images-page3/header-b.png) repeat-x 0 0;
  width: 100%;
  height: 72px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.header-center {
  background: url(../../../assets/images-page3/header-i.png) repeat 0 0;
  width: 100%;
  position: relative;
}
.header-inner {
  z-index: 99;
  position: relative;
  background: url(../../../assets/images-page3/header-cnt.png) repeat-y center 0;
  margin-bottom: -47px;
}
.header-cnt #logo {
  width: 397px;
  font-size: 0;
  line-height: 0;
}
.header-cnt #logo a {
  height: 134px;
  background: url(../../../assets/images-page3/logo.png) no-repeat 0 0;
  text-indent: -4000px;
  display: block;
}
.header-cnt {
  width: 422px;
  padding-top: 30px;
}
.header-cnt h2 {
  font-size: 74px;
  line-height: 83px;
  color: #fff;
  text-shadow: rgba(0,0,0,0.5) 0 1px 2px;
  font-weight: bolder;
}
.header-cnt h3 {
  font-size: 40px;
  padding-bottom: 8px;
  line-height: 50px;
  font-weight: normal;
  color: #fff;
  text-shadow: rgba(0,0,0,0.5)
  0 1px 2px;
  font-family: tahoma, arial, helvetica, serif;
}
.header-cnt p {
  color: #fff;
  text-shadow: rgba(0,0,0,0.5) 0 1px 2px;
  padding-bottom: 10px;
}
.header-cnt a.blue-btn {
  background: url(../../../assets/images-page3/blue-btn.png) no-repeat 0 -75px;
  position: relative;
  bottom: -30px;
  z-index: 100;
  width: 198px;
  height: 70px;
  text-align: center;
  line-height: 56px;
  display: block;
  color: #fff;
  text-shadow: rgba(0,0,0,0.5) 0 1px 1px;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif; font-weight: 700;
}
.header-cnt a.blue-btn:hover  {
  text-decoration: none;
  background-position: 0 0 ;
}
/**********************************************************************************************************************/
.slider-container {
  width: 495px;
  height: 293px;
  background: url(../../../assets/images-page3/slider.png) no-repeat 0 0;
  position: absolute;
  bottom: -36px;
  right: -19px;
  padding: 34px 44px;
  z-index: 1000;
}
.slider-container .slider {
  width: 497px;
  height: 288px;
  position: relative;
}
.slider-container .slider ul.slides {
  list-style: none outside;
  position: relative;
}
.slider-container .slider ul.slides li {
  width: 497px;
  height: 288px;
  float: left;
  visibility: hidden;
  display: none;
}
.slider-container .slider ul.slides li .active {
  visibility: visible;
}
.slider-container .slider ul.slides li img {
  width: 497px; height: 288px;
}
/*********************************************************************************************************************/
.main {
  padding: 66px 0 50px;
  height: 680px;
}
.main h2 {
  font-size: 28px;
  color: #2d2d2d;
  line-height: 28px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  padding-bottom: 12px;
}
.main h3 {
  font-size: 20px;
  color: #2d2d2d;
  line-height: 22px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  padding-bottom: 8px;
}
.main section {
  background: url(../../../assets/images-page3/section-shadow.png) no-repeat 0 bottom;
  padding-top: 40px;
  padding-bottom: 23px;
}
.main section:last-of-type {
  background: transparent;
}

.main .sentered-text {
  text-align: center;
  padding-right: 88px;
  padding-left: 88px;
}
.main .sentered-text p {
  padding-bottom: 10px;
}
.main .sentered-text p strong {
  font-size: 28px; font-family: georgia, serif;
  position: relative;
  top: 10px;
  left: -5px;
}

.main .content {
  width: 615px;
  float: left;
}
.main .content ul {
  list-style: none outside;
  padding-top: 8px;
}
.main .content ul li {
  padding-left: 8px;
  background: url(../../../assets/images-page3/bullet.png) no-repeat 0 9px;
  padding-bottom: 5px;
}
.main .content ul li a {
  text-decoration: underline;
}
.main .content ul li a:hover {
  text-decoration: none;
}
.main .content img.alignleft {
  margin-right: 22px;
}
.main .content .cnt {
  overflow: hidden;
  height: 100%;
}
.main section.blog {
  padding-bottom: 60px;
  height: 245px;
}

.main .sidebar {
  width: 282px;
  float: right;
}
.main .sidebar ul {
  list-style: none outside;
}
.main .sidebar ul li {
  position: relative;
  padding-left: 84px;
  background: url(../../../assets/images-page3/sidebar-list-border.png) no-repeat 0 bottom;
  padding-bottom: 15px;
  margin-bottom: -13px;
  min-height: 72px;
}
.main .sidebar ul li .img-holder {
  position: absolute;
  top: 6px;
  left: 0;
  width: 66px;
  height: 48px;
  padding: 2px;
  border: 1px solid #d7d7d6;
  border-radius: 3px;
}
.main .sidebar ul li img {
  width: 66px;
  height: 48px;
}
.main .sidebar ul li .mobile {
  font-style: normal;
  display: none;
}
.main .sidebar ul li a {
  color: #828282;
}
.main .sidebar ul li a:hover {
  text-decoration: none;
  color: #666;
}
.main .sidebar ul li p {
  padding-bottom: 7px;
}
.main .sidebar ul li span {
  font-size: 10px;
  color: #c0c0c0;
  display: block;
}
.main .sidebar .widget ul li.last {
  background: transparent;
}

.main .cols {
  padding-bottom: 0;
}
.main .cols a.view {
  margin-right: 16px;
  position: absolute;
  bottom: 0;
  right: 45px;
}
.main .cols .col {
  width: 292px;
  float: left;
  background: url(../../../assets/images-page3/col-separator.png) no-repeat right 0;
  padding-right: 22px;
  margin-right: 12px; padding-bottom: 16px; position: relative;
}
.main .cols .col-cnt {
  padding-top: 7px;
  height: 100%;
  overflow: hidden }
.main .cols .col img.alignleft {
  margin-right: 7px;
}
.main .cols .col.last {
  width: 280px;
  padding-right: 0;
  margin-right: 0;
  background: transparent;
}
/**********************************************************************************************************************/
#content-container {
  min-height: 100%;
  height: auto;
}
#footer {
  border-top: 1px solid #fff;
  height: 285px;
  display: grid;
}
.footer-cols {
  background: url(../../../assets/images-page3/footer-cols.png) repeat-x 0 0;
  padding: 26px 0;
}
.footer-cols .col {
  float: left;
  width: 226px;
  padding-right: 19px;
}
.footer-cols .col.last {
  padding-right: 0;
}
.footer-cols h3 {
  color: #fff;
  text-shadow: rgba(0,0,0,0.6) 0 1px 2px;
  font-size: 21px;
  line-height: 28px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  padding-bottom: 12px;
}
.footer-cols h3 a {
  color: #fff;
  text-shadow: rgba(0,0,0,0.6) 0 1px 2px;
}
.footer-cols h3 a:hover {
  text-decoration: none;
  color: #bdbdbd;
}
.footer-cols p {
  color: #fff;
}
.footer-cols p a {
  color: #fff;
}
.footer-cols ul {
  list-style: none outside;
}
.footer-cols ul li {
  color: #fff; padding-bottom: 6px;
  padding-left: 9px;
  background: url(../../../assets/images-page3/bullet-footer-col.png) no-repeat 0 8px;
}
.footer-cols ul li a {
  color: #fff;
}

.footer-bottom {
  background: #b3dce6;
  padding: 22px 0 18px 0;
}
.footer-nav {
  float: left;
  font-size: 11px;
  line-height: 11px;
}
.footer-nav ul {
  list-style: none outside;
}
.footer-nav ul li {
  float: left;
  padding: 0 10px;
  background: url(../../../assets/images-page3/footer-nav-border.png) no-repeat 0 0;
}
.footer-nav ul li.first {
  background: transparent;
  padding-left: 0;
}
.footer-nav ul a {
  color: #6b848a;
}
.footer-bottom p.copy {
  float: right;
  color: #6b848a;
  line-height: 11px;
}
.footer-bottom p.copy span  {
  padding: 0 9px;
}
.footer-bottom p.copy a {
  text-decoration: underline;
}
.footer-bottom p.copy a:hover {
  text-decoration: none;
}
